$text-color: #FFFFFF;
//colors
$grey: #4E4E4E;
$lightpink: #8D81AC;
$darkgrey: #27262A;
$white: #fff;
$lightGrey: #333;
$midpink:  #A291A5;
$halftransparent: #645766;
$greyPinc: #848E97;

//font sizes
$font-med: 1rem; //16px
$font-mid: 0.937rem; //15px
$font-sm: 0.875rem; // 14px
$font-ms: 0.65rem; // 10px
$font-ut: 1.5rem; //24px